 /* resets starts */
html,body,.container
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6,p,table
{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 
.parent{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.header{
    display: flex;
    flex: 1 10%;
    background-color: orangered;
    border: 2px solid green;
}
.navigation{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    }
    ul li{
        display: inline;
    }
    ul li a{
        text-decoration: none;
        border: 2px solid white;
        color: black;
        padding: 1vw;
        margin: 8vw;
        text-transform: uppercase;
    }
.section{
    display: flex;
    flex: 1 80%;
    flex-direction: row;
}
#slider{
    display: flex;
    flex: 1 50%;
    background-color: brown;
    /* border: 2px solid greenyellow; */
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; } 
    25% { left: -100%; }
    45% { left: -100%; } 
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -100%; }
}
#slider { 
    overflow: hidden; 
    display: flex;
}
#slider figure img 
{ 
    width: 100%; 
    float: left; 
    position: absolute;
}
#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
}
    
.card{
    display: flex;
    flex:1 10%;
    flex-direction: column;
    background-color:aqua;
    /* border: 2px solid black; */
}
.title{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
}
.image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.description{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: red;
}
